
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'landing_page.css' %}">
    <title>Projek-in's - Home</title>
</head>
<body>
    <div class="container">
        <h1>Projek-in</h1>
        <h3>Kerjain proyek apalagi ya hari ini?</h3>
        <!-- <center><button class="btn" onclick="window.location.href = '../register';" type="submit" id="regbutton">REGISTER</button></center> -->
    </div>
  
</body>
</html>